{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <div class="card text-white bg-success mb-3">
  </head>
<html lang="en">
<body>
    <div class="card text-white bg-success mb-3" >
        {% for playlist in user_playlists %}
        <div class="card-header"><a href="/songs/{{playlist.id_spotify}}"> {{playlist.name}} </a><span><em> by {{playlist.user}}</em></span></div>
        <div class="card-body">
        <p class="card-text">Bu playlistin %{{playlist.ratio}}'ini dinlediniz.</p>
        <img src="{{playlist.photo}}" style="height:100px;">
        {% endfor %}

        {% for playlist in following_playlists %}
        <div class="card-header"><a href="/songs/{{playlist.id_spotify}}"> {{playlist.name}} </a><span><em> by {{playlist.user}}</em></span></div>
        <div class="card-body">
          <p class="card-text">Bu playlistin %{{playlist.ratio}}'ini dinlediniz.</p>
        <img src="{{playlist.photo}}" style="height:100px;">
        {% endfor %}
        
        
        </div>
    </div>
</body>
</html>