{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <div class="card text-white bg-success mb-3">
  </head>
  <body>
<div class="card-header">
    {% for track in tracks %}
    <div class="row">
        <div class="col-10">
            <a href="www.songSpotifyLinkHere.com" style="color: #FFFFFF; text-decoration: none;">
                <strong><a href="{{track.link}}">{{track.name}}</a></strong>
                <span><em> by <a href="{{track.artist_link}}">{{track.artist_name}}</a></em></span>
            </a>
        </div>
        <div class="col-2">
            {% if track.status == True %}
            <span class="glyphicon glyphicon-check" ></span>
            {% else %}
            <span class="glyphicon glyphicon-unchecked" style="background-color: red;"></span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

</div>
</body>
</html>